.slides.template-ony > article:not(.nobackground):not(.biglogo) {
  background: url(images/colorbar.png) 0 600px repeat-x,
              url(images/googleio-logo.png) 640px 625px no-repeat;

  background-size: 100%, 225px;  

  background-color: white;  
}

.slides.template-ony article.biglogo {
  background: white url(images/googleio-logo.png) 50% 50% no-repeat;

  background-size: 600px;
}

// see http://learning-html5.info/blog/css-3-selectors/multicolumn/
.slides article.columns3 div {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    -moz-column-gap: 2em;
    -webkit-column-gap: 2em;
    -moz-column-rule-style: solid;
    -moz-column-rule-color: #bbf;
    -moz-column-rule-width: 2px;
    -webkit-column-rule-style: solid;
    -webkit-column-rule-color: #bbf;
    -webkit-column-rule-width: 2px;
}

.slides article.columns2 div {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 2em;
    -webkit-column-gap: 2em;
    column-gap: 2em;
    -moz-column-rule-style: solid;
    -moz-column-rule-color: #bbf;
    -moz-column-rule-width: 2px;
    -webkit-column-rule-style: solid;
    -webkit-column-rule-color: #bbf;
    -webkit-column-rule-width: 2px;
    column-rule-style: solid;
    column-rule-color: #bbf;
    column-rule-width: 2px;
}
