/*
    This file is part of HTML5 slides template presentation.

    Foobar is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Foobar is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
*/
.slides.template-ony > article:not(.nobackground):not(.biglogo) {
  background: url(images/colorbar.png) 0 600px repeat-x,
              url(images/googleio-logo.png) 640px 625px no-repeat;

  background-size: 100%, 225px;

  background-color: white;
}

.slides.template-ony article.biglogo {
  background: white url(images/googleio-logo.png) 50% 50% no-repeat;

  background-size: 600px;
}

// see http://learning-html5.info/blog/css-3-selectors/multicolumn/
.slides article.columns3 div {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    -moz-column-gap: 2em;
    -webkit-column-gap: 2em;
    -moz-column-rule-style: solid;
    -moz-column-rule-color: #bbf;
    -moz-column-rule-width: 2px;
    -webkit-column-rule-style: solid;
    -webkit-column-rule-color: #bbf;
    -webkit-column-rule-width: 2px;
}

.slides article.columns2 div {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 2em;
    -webkit-column-gap: 2em;
    column-gap: 2em;
    -moz-column-rule-style: solid;
    -moz-column-rule-color: #bbf;
    -moz-column-rule-width: 2px;
    -webkit-column-rule-style: solid;
    -webkit-column-rule-color: #bbf;
    -webkit-column-rule-width: 2px;
    column-rule-style: solid;
    column-rule-color: #bbf;
    column-rule-width: 2px;
}
